[global_config]
  suppress_multiple_term_dialog = True
  putty_paste_style = True
  clear_select_on_copy = True
[keybindings]
[profiles]
  [[default]]
    background_darkness = 0.75
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Ubuntu Mono 22
    show_titlebar = False
    copy_on_selection = True
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]